sudo: required 
services: 
- docker

before_install: 
- docker build -t omarhussam/docker-react -f Dockerfile.dev .

script: 
# - docker run omarhussam/docker-react npm run test npm run test -- --coverage
- docker run -e CI=true omarhussam/docker-react npm run test